// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
//Colors
$color-title: rgb(82, 82, 82);
$color-text: rgb(105, 105, 105);
$color-white: #fff;
$color-placeholder: #acacac;
$color-focus: rgb(46, 46, 46);
$color-border: rgb(219, 219, 219);
$color-caption: #afafafa8;

$color-javascript: rgb(207, 52, 104);
$color-jquery: rgb(61, 125, 243);
$color-light: rgb(39, 36, 36);

// Breakpoints
$break-med: 768px;

// Max-width
$max-width: 1100px;