// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Lato', sans-serif;

// Colors 
$white: #fff;

$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #777;

$color-btn-default: #51ddfc;
$color-btn-error: #e4757a;
$color-btn-info: #927bc1;
$color-btn-success: #63cc82;
$color-btn-warning: #fd7856;

// Grid Colors
$color-col-1: #927bc1;
$color-col-2: #fd7856;
$color-col-3: #deb2ee;
$color-col-4: #7ee6fd;
$color-col-5: #88d9a0;
$color-col-6: #4da2bb;
$color-col-7: #ec9fa3;
$color-col-8: #fd9f85;
$color-col-9: #e4757a;
$color-col-10: #63cc82;
$color-col-11: #51ddfc;
$color-col-12: #80e8d1;

// Breakpoints
$break-med: 768px;

// Layout

$max-width: 1400px;