// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Lato', sans-serif;

//Colors
$color-placeholder: #acacac;
$color-border: rgb(211, 211, 211);


// Breakpoints
$break-med: 768px;

// Max-width
$max-width: 1100px;