/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-primary;
    box-sizing: border-box;
}
  
p {
    line-height: 1.45em;
}

